body {
    font-family: Arial, Helvetica, freesans, sans-serif;
}

h3 {
    margin: 0;
}

.editor {
    border: 2px solid #333;
    padding: 16px 8px;
}

.filepicker .drop {
    padding: 16px;
    border: 2px dashed #444;
}

